/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 100px;
}

/* Навигация */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: white;
}

header .logo img {
   height: 50px;
}

header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header .nav-links a {
    color: white;
    text-decoration: none;
}

/* Слайдер */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.slider .slide img {
    width: 100%;
    height: auto;
}

/* Ближайшие спектакли */
.upcoming-shows {
    padding: 20px;
    text-align: center;
}

.upcoming-shows .shows-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upcoming-shows .shows-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.upcoming-shows .show img {
    width: 100%;
    height: auto;
}

.buy-ticket-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Новости */
.news {
    display: flex;
    padding: 20px;
}

.news .news-list {
    flex: 1;
}

.news .news-item {
    margin-bottom: 20px;
}

.news .news-image {
    flex: 1;
    text-align: right;
}

.news .news-image img {
    width: 100%;
    height: auto;
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-links {
    display: flex;
    gap: 20px;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
}

footer .social-icons {
    display: flex;
    gap: 10px;
}

footer .social-icons img {
    height: 24px;
}